// Home Page Styles
.container {
  min-height: 100vh;
  background-color: white;
  transition: color 0.2s ease, background-color 0.2s ease;
  
  :global(.dark) & {
    background-color: rgb(3, 7, 18);
  }
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 1rem;
  
  @media (min-width: 768px) {
    padding: 3rem 1.5rem;
  }
}